.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}
h3 {
    margin-top: 50px;
}
input {
    font-size: 300%;
    margin: 50px auto;
    display: inline-block;
}
button {
    display: inline-block;
    margin: 0 auto;
    font-size: 200%;
    padding: 1%;
    outline: 0;
    border: 0;
}
label {
    padding-right: 40px;
}
label input {
    margin-right: 10px;
}