.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
input {
  margin: 20px auto 0;
  font-size: 500%;
  width: 500px;
  display: block;
  text-align: center;
}
button {
  font-size: 500%;
  display: inline-block;
  margin: 55px 20px;
}
p {
  font-size: 500%;
}