.App {
  text-align: center;
}
.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
.col-wrap {
  overflow: auto;
  display: block;
}
.col {
  width: 50%;
  float: left;
}
.col.left {

}